{{#ifwith resume.basics}}
	<header>
		<h1>{{name}}</h1>
		<h2>{{label}}</h2>
		<p>{{summary}}</p>
	</header>
	<nav>
		<ul>
			{{#ifwith location}}
				<li>
					<span class="fas fa-location-dot"></span>
					{{#if city}}
						<span>{{city}},</span>
					{{/if}}
					{{#if region}}
						<span>{{region}}</span>
					{{/if}}
					{{#if countryCode}}
						<span>{{countryCode}}</span>
					{{/if}}
				</li>
			{{/ifwith}}
			{{#if phone}}
				<li>
					<span class="fas fa-mobile-alt"></span>
					{{phone}}
				</li>
			{{/if}}
			{{#if email}}
				<li>
					<span class="far fa-envelope"></span>
					<a href="mailto:{{email}}">{{email}}</a>
				</li>
			{{/if}}
			{{#if url}}
				<li>
					<span class="fas fa-external-link-alt"></span>
					<a target="_blank" href="{{url}}">{{url}}</a>
				</li>
			{{/if}}
			{{#each profiles}}
				{{#if username}}
					<li>
						<span class="fab fa-{{fa-convert network}}"></span>
						{{#if url}}
							<a target="_blank" href="{{url}}">{{username}}</a>
						{{else}}
							{{username}}
						{{/if}}
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</nav>
{{/ifwith}}