{{#ifwith resume.publications}}
	<section>
		<header>
			<h2>Publications</h2>
		</header>
		{{#each this}}
			<section>
				<header>
					<div class="split">
						<h3>
							{{#if name}}
								<span>{{name}}</span>
							{{/if}}
							{{#if publisher}}
								<span>| {{publisher}}</span>
							{{/if}}
						</h3>
						{{#if releaseDate}}
							<span>{{releaseDate}}</span>
						{{/if}}
					</div>
					{{#if url}}
						<a target="_blank" href="{{url}}">{{url}}</a>
					{{/if}}
				</header>
				{{#if summary}}
					<p>{{summary}}</p>
				{{/if}}
			</section>
		{{/each}}
	</section>
{{/ifwith}}