<section>
  <h1>{{@key}}</h1>
  {{#each this}}
    <div class="entry">
      <div class="entry-header">
        <div class="clearfix">
          <h2 style="float: left;">{{title}}</h2>
          <h4 style="float: right;">{{start}} {{#if end}}&mdash; {{end}}{{/if}}</h4>
        </div>
        <h3>{{subtitle}}</h3>
      </div>
      <p>{{description}}</p>
      <ul>
        {{#each notes}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</section>