<section>
  <h2>{{@key}}</h2>
  {{#each this}}
    <div class="section-header">
      <h3>{{title}}</h3>
      <h5>{{start}} {{#if end}}&mdash; {{end}}{{/if}}</h5>
    </div>
    <h4>{{subtitle}}</h4>
    {{description}}
    <ul>
      {{#each notes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/each}}
</section>