{{#ifwith resume.work}}
	<section>
		<header>
			<h2>Work</h2>
		</header>
		<div id="work-list">
			{{#each this}}
				<section>
					<header>
						<div class="flex-between">
							<h3>
								{{#if name}}
									<span>{{name}}</span>
								{{/if}}
								{{#if position}}
									<span>| {{position}}</span>
								{{/if}}
							</h3>
							<div>
								{{#if startDate}}
									<span>{{startDate}}</span>
								{{/if}}
								{{#if endDate}}
									<span>- {{endDate}}</span>
								{{else}}
									<span>- Present</span>
								{{/if}}
							</div>
						</div>
						{{#if url}}
							<a target="_blank" href="{{url}}">{{url}}</a>
						{{/if}}
					</header>
					{{#if summary}}
						<p>{{summary}}</p>
					{{/if}}
					{{#ifwith highlights}}
						<ul>
							{{#each this}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
					{{/ifwith}}
				</section>
			{{/each}}
		</div>
	</section>
{{/ifwith}}